---
layout: StartPage100%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Home #title in menu
number: 1 #position in menu
menuLevel: 1
hideInMenu: false #if true, will be hidden in menu
shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
subpages: false #(only for first-level pages)
#parent: #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

<div class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{>carousel}}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent '3_LeftIconTextButton'
                class=""
                headerLeftIcon="briefcase"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent '3_LeftIconTextButton'
                class=""
                headerLeftIcon="graph"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent '3_LeftIconTextButton'
                class=""
                headerLeftIcon="network"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
            }}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>divider}}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent '2_ImageTextLink'
                class=""
                imgLink="images/On_the_wall.jpg"
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent '2_ImageTextLink'
                class=""
                imgLink="images/On_the_wall.jpg"
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent '2_ImageTextLink'
                class=""
                imgLink="images/On_the_wall.jpg"
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
            }}
        </div>
    </div>
</div>

{{ renderContent 'parallax'
    class="parallax-container"
    height="340"
    dataImage="images/black_and_white_mountain.jpg"
    dataImageMobile="images/parallax-foto.jpg"
}}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent '1_BigIconTextButton'
                class="bigIcon"
                bigTopIcon="briefcase"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent '1_BigIconTextButton'
                class="bigIcon"
                bigTopIcon="graph"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent '1_BigIconTextButton'
                class="bigIcon"
                bigTopIcon="network"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
            }}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>divider}}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>NEWS & EVENTS</h3>
            <div class="tabbable">
                <ul class="nav nav-tabs default">
                    <li class="nav-link active ">
                        <a href="#news" data-toggle="tab">News</a>
                    </li>
                    <li class="nav-link  ">
                        <a href="#events" data-toggle="tab">Events</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in " id="news">
                        {{> newsCarousel}}
                    </div>
                    <div class="tab-pane fade " id="events">
                        <h3>Events</h3>
                        <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>SOCIAL STREAM</h3>
            <div class="tabbable">
                <ul class="nav nav-tabs default">
                    <li class="nav-link active ">
                        <a href="#one" data-toggle="tab">Facebook</a>
                    </li>
                    <li class="nav-link  ">
                        <a href="#two" data-toggle="tab">Twitter</a>
                    </li>
                    <li class="nav-link  ">
                        <a href="#three" data-toggle="tab">Instagram</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in " id="one">
                    </div>
                    <div class="tab-pane fade " id="two">
                    </div>
                    <div class="tab-pane fade " id="three">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        {{ renderContent 'quote'
                text="Top service. It’s nice to come back. Thank you for the support, efficient and fast. You are true professionals"
                name="John Doe"
                title="VP of Marketing"
                linkText="Royal Trader"
            }}
        </div>
        <div class="col-md-6">
            {{ renderContent 'quote'
                    text="Top service. It’s nice to come back. Thank you for the support, efficient and fast. You are true professionals"
                    name="John Doe"
                    title="VP of Marketing"
                    linkText="Royal Trader"
            }}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>divider}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{> logoCarousel}}
        </div>
    </div>
</div>


