<nav id="slideout-menu" class="slideout-nav js__slideout-nav" role="navigation">



<ul class="">
{{#withSort pages "data.number"}}
{{#is data.hideInMenu false}}
{{#is data.menuLevel 1}}
{{#is data.subpages true}}
<li {{#is ../../../../page.title data.title}} class="active"{{/is}}
{{#each ../../../../pages }}
{{#is data.menuLevel 2}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 3}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 4}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 5}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}} class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}>
<a  href="{{basename}}.html" class="dropdown-toggle-clickable" >{{data.title}}<span class="icons icon-t3-dropdown-arrow"></span><span class="caret"></span></a><a href="{{basename}}.html"  class="icons icon-t3-dropdown-arrow__mobile js__mobile-dropdown-link" ></a>
<ul class="dropdown-menu">
{{#withSort ../../../../pages "data.number"}}
{{#is data.menuLevel 2}}
{{#is ../../../../this.data.title data.parent}}
<li {{#is ../../../../../../../page.title  data.title}} class="active"{{/is}}
{{#each ../../../../../../../pages }}
{{#is data.menuLevel 3}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}} class="active"{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 4}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}} class="active"{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 5}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}} class="active"{{/is}}
{{/is}}
{{/is}}
{{/each  }}>
<a href="{{basename}}.html">{{data.title}}</a>
</li>
{{/is}}
{{/is}}
{{/withSort  }}
</ul>
</li>
{{else}}
<li{{#is ../../../../page.title data.title}} class="active"{{/is}}><a href="{{basename}}.html">{{data.title}}</a></li>
{{/is}}
{{/is }}
{{/is }}
{{/withSort}}
</ul>

</nav>
